<!--<ul *ngIf="auth.user$ | async as user">-->
<!--  <li>{{ user.nickname }}</li>-->
<!--  <li>{{ user.email }}</li>-->
<!--  <li>{{ user.sub }}</li>-->
<!--  <li><img src="{{user.picture}}"></li>-->
<!--</ul>-->
<div *ngIf="!profileNotFound; else profileFound">
  <p>{{this.profile?.username}}</p>
  <p>{{this.profile?.userEmail}}</p>
  <p>{{this.profile?.userId}}</p>
  <img src="{{profile?.userPicture}}">
  <p>{{this.profile?.bio}}</p>

  <div *ngIf="profile?.username != currentAuthUser?.nickname && !isFollowing">
    <button (click)="followProfile()">Follow</button>
  </div>

  <div *ngIf="isFollowing">
    <button (click)="unfollowProfile()">Unfollow</button>
  </div>

</div>



<ng-template #profileFound>
  <p>This profile has not been found</p>
</ng-template>
