<div class="layout">
  <div class="layout__left-sidebar">
    <img class="brand" src="./assets/svg/twitter.svg">
    <div class="sidebar-menu">
      <div class="sidebar-menu__item sidebar-menu__item--active">
        <img src="../../assets/svg/home_active.svg" class="sidebar-menu__icon">
        Home
      </div>
      <div class="sidebar-menu__item" (click)="this.route.navigate(['/profile'])">
        <img src="./assets/svg/profile.svg" class="sidebar-menu__icon">
        Profile
      </div>
    </div>
  </div>


  <div class="layout__main">

    <app-tweets></app-tweets>
  </div>


  <div class="layout__right-sidebar-container">
    <div class="layout__right-sidebar">
      <ng-container *ngIf="auth.isAuthenticated$">
        <button (click)="route.navigate(['/logout'])">Logout</button>
      </ng-container>

      <ul *ngIf="auth.user$ | async as user">
        <li>{{ user.name }}</li>
        <li>{{ user.email }}</li>
      </ul>
    </div>
  </div>
</div>
